.header {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  padding: 10px 15px;
  justify-content: space-between;
  .header-left h1 {
    display: inline
  }
  .header-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .header-right {
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width: 550px) {
  .header .header-center button {
    display: none;
  }
}
